body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER*/

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  font-style: normal;
  margin-right: 76px;
}

.header-logo-type {
  color: #2e2f42;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  display: block;
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus {
  color: #404bbf;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-adress-link {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  display: block;
  padding: 24px 0;
}

.header-adress-link:hover {
  color: #404bbf;
}
.header-adress-link:focus {
  color: #404bbf;
}

.header-adress {
  font-style: normal;
  margin-left: auto;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

/* HERO */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.07;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/* FEATURES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .features .container { }*/

.features-list {
  display: flex;
  gap: 24px;
  /* width: calc((100% - 24px * 3) / 4); */
}

.features-subtitle {
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-item {
  max-width: 264px;
  margin: 0 auto;
}

.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* TEAM */

.team {
  background-color: #f4f4fd;
  text-transform: capitalize;
}

/* .team .container { }*/

.team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-caption {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-member {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* PORTFOLIO */

/* .portfolio .container {} */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-menu-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-caption {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-type {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
